.hero{
  margin-bottom: 20px;
  background-color: #158D91;
}

.hero .title{
  color: whitesmoke;
}
.tutorial {
  width: 600px;
  text-align: center;
  margin: auto;
}

figure.image {
  display: flex;
  justify-content: center;
  background-color: black;
}

figure .image img {
  width: 128px;
}

.notification {
  margin-top: 20px !important;
}

.results {
  max-height: 500px;
  overflow-y: scroll;
}

.title .icon {
  margin-left: 15px;
  width: 3%;
}

.forms {
  display: flex;
  justify-content: space-around;
}

.dropdown-item {
  display: flex;
  align-items: center;
  height: 60px;
}

.dropdown-item img {
  height: 50px;
  margin-right: 10px;
}
.column .title{
  width: 30%;
  margin: 1% auto;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  color: black;
  background-color: antiquewhite;
}
.hero-footer{
  width: 100%;
  margin-top: 27.15%;
  text-align: center;
  background-color: #158D91;
  color: whitesmoke;
  padding: 72.2px;
}
